body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Raleway', sans-serif;
  background-color: #F9F9F9;
}

input {
  border-style: none;
  border-radius: 4px;
  font-size: 21px;
  padding: 5px;
  margin: 15px 0;
}

button {
  margin: 10px 0;
  background-color: #00D4C1;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 21px;
  padding: 5px 10px;
  cursor: pointer;
  transition: all .2s;
}
botton:hover {
  background-color: #08ffe9;
}
h2 {
  font-size: 50px;
  border-bottom: 3px solid #00D4C1;
  font-weight: normal;
}
.letter {
  display: inline-block;
  transition: all 1s;
}
.animate {
  color: blue;
  text-shadow: 5px 5px 2px red;
  font-size: 100px;
  font-family: 'Alfa Slab One', cursive;
}

@keyframes flip {
  0% {
    transform: scale(0) rotate(0deg);
  }
  50% {
    transform: scale(2) rotate(180deg);
  }
  100% {
    transform: scale(0) rotate(360deg);
  }
}
